.game-board {
  width: 900px;
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.block {
  border: 2px solid black;
}
.cell {
  border: 1px solid gray;
  padding: 5px;
  text-align: center;
  font-size: 13px;
}
.input {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  text-align: center;
  font-size: 13px;
}
